# Pandas

In computer programming, [pandas](https://pandas.pydata.org/docs/#module-pandas) is a software library written for the Python programming language for data manipulation and analysis. In particular, it offers data structures and operations for manipulating numerical tables and time series.

<img src="https://numfocus.org/wp-content/uploads/2016/07/pandas-logo-300.png"/>

Source: [Wikipedia](https://en.wikipedia.org/wiki/Pandas_(software))

## The 2 Main Data Structures it provides:

### 1. DataFrame

Pandas DataFrame is two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. Pandas DataFrame consists of three principal components, the data, rows, and columns.

Source: [GeeksForGeeks](https://www.geeksforgeeks.org/python-pandas-dataframe/)


### 2. Series

Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). The axis labels are collectively called index. Pandas Series is nothing but a column in an excel sheet.

Source: [GeeksForGeeks](https://www.geeksforgeeks.org/python-pandas-series/)


### Let's see how they look

In [1]:
import pandas as pd
df=pd.read_csv('food.csv')
df

         Name Gender     City Frequency      Item  Spends
0      Nitish      M  Kolkata    Weekly    Burger      11
1         Anu      F  Gurgaon     Daily  Sandwich      14
2       Mukku      M  Kolkata      Once      Vada      25
3        Suri      M  Kolkata   Monthly     Pizza      56
4       Rajiv      M    Patna     Never    Paneer      34
5    Vandanda      F    Patna      Once   Chicken      23
6      Piyush      M   Ranchi     Never   Chicken      67
7     Radhika      F   Mumbai   Monthly     Pizza      43
8       Sunil      M   Mumbai   Monthly      Vada      34
9     Madhuri      F     Pune     Daily    Paneer      66
10      Sonal      F     Pune   Monthly     Pizza      89
11      Abhay      M    Patna     Daily    Burger      65
12     Vineet      M   Ranchi      Once  Sandwich      34
13      Sumit      M  Gurgaon     Never  Sandwich      34
14     Ranbir      M   Mumbai    Weekly      Vada      55
15      Akash      M  Chennai   Monthly    Paneer      67
16      Pooja      F  Chennai     Daily     Pizza      34
17       Neha      F     Pune     Never     Pizza      88
18     Aditya      M  Gurgaon      Once  Sandwich      99
19     Gaurav      M    Patna   Monthly      Vada      65
20    Jagriti      F    Patna    Weekly    Burger      45
21      Dipti      F    Patna    Weekly    Burger      76
22      Vinay      M    Patna   Monthly    Burger      48
23      Ankit      M   Mumbai     Daily    Paneer      38
24     Anjani      F     Pune     Never     Pizza      27
25     Sphira      F     Pune      Once      Vada      84
26        Sam      M   Ranchi     Never      Vada      85
27     Vinish      M   Ranchi      Once  Sandwich      74
28     Ritika      F  Kolkata   Monthly    Burger      63
29     Chandu      M  Kolkata     Daily  Sandwich      54
30   Bijurika      F   Ranchi    Weekly     Pizza      90
31  Deepanita      F     Pune     Never    Paneer      42
32     Sourav      M  Gurgaon      Once  Sandwich      97
33       Suti      M  Kolkata   Monthly      Vada      86
34       Manu      M  Kolkata     Daily      Vada      56
35      Nishu      F    Patna    Weekly  Sandwich      66
36      Komal      F     Pune     Daily    Paneer      77
37     Sachin      M   Mumbai     Daily     Pizza      99
38      Rahul      M   Mumbai    Weekly    Burger      21
39       Amit      M  Chennai   Monthly  Sandwich      43
40      Rohit      M  Chennai      Once     Pizza      54
41      Vidit      M     Pune      Once    Paneer      78
42    Sunaina      F  Chennai      Once      Vada      23
43     Akriti      F  Gurgaon   Monthly      Vada      86
44   Sangeeta      F  Chennai    Weekly  Sandwich      43
45     Meenal      F     Pune   Monthly     Pizza      67
46     Akshay      M   Ranchi     Daily    Paneer      32
47   Gurpreet      M  Kolkata     Never     Pizza      56
48    Kishore      M  Gurgaon     Never      Vada      22
49    Jaideep      M  Chennai      Once    Burger      44

In [7]:
df['Name']

0        Nitish
1           Anu
2         Mukku
3          Suri
4         Rajiv
5      Vandanda
6        Piyush
7       Radhika
8         Sunil
9       Madhuri
10        Sonal
11        Abhay
12       Vineet
13        Sumit
14       Ranbir
15        Akash
16        Pooja
17         Neha
18       Aditya
19       Gaurav
20      Jagriti
21        Dipti
22        Vinay
23        Ankit
24       Anjani
25       Sphira
26          Sam
27       Vinish
28       Ritika
29       Chandu
30     Bijurika
31    Deepanita
32       Sourav
33         Suti
34         Manu
35        Nishu
36        Komal
37       Sachin
38        Rahul
39         Amit
40        Rohit
41        Vidit
42      Sunaina
43       Akriti
44     Sangeeta
45       Meenal
46       Akshay
47     Gurpreet
48      Kishore
49      Jaideep
Name: Name, dtype: object

In [8]:
df.loc[0]

Name          Nitish
Gender             M
City         Kolkata
Frequency     Weekly
Item          Burger
Spends            11
Name: 0, dtype: object