In [5]:
import pandas as pd
import numpy as np

In [6]:
matches=pd.read_csv('matches.csv')
delivery=pd.read_csv('deliveries.csv')

In [7]:
matches.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [4]:
delivery.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

## Questions(for matches.csv)

#### - How many matches were played in IPL till today?

In [10]:
matches.shape[0]

756

#### -  How many matches were played in every season?

In [13]:
matches['season'].value_counts(ascending=True)

2009    57
2008    58
2015    59
2017    59
2010    60
2014    60
2016    60
2018    60
2019    60
2011    73
2012    74
2013    76
Name: season, dtype: int64

#### -  Which team won IPL 2015?

In [17]:
matches_15=matches[matches['season']==2015]

In [20]:
matches_15.drop_duplicates(subset=['season'],keep='last')['winner']

575    Mumbai Indians
Name: winner, dtype: object

## Questions(for deliveries.csv)

#### - Which batsmen hit sixes on the first ball of an over?

In [23]:
ball=delivery[delivery['ball']==1]

In [26]:
batsman=ball[ball['batsman_runs']==6]

In [32]:
batsman['batsman'].drop_duplicates().values

array(['DJ Hooda', 'HH Pandya', 'CA Lynn', 'M Vohra', 'GJ Maxwell',
       'S Dhawan', 'DA Warner', 'MK Pandey', 'N Rana', 'STR Binny',
       'RR Pant', 'SV Samson', 'DA Miller', 'SP Narine', 'V Kohli',
       'KA Pollard', 'RA Tripathi', 'RV Uthappa', 'YK Pathan',
       'Yuvraj Singh', 'AR Patel', 'EJG Morgan', 'MM Sharma', 'KM Jadhav',
       'BB McCullum', 'PA Patel', 'SK Raina', 'MC Henriques', 'SPD Smith',
       'P Negi', 'Ishan Kishan', 'KH Pandya', 'MJ Guptill',
       'AB de Villiers', 'AJ Finch', 'BA Stokes', 'Mandeep Singh',
       'LMP Simmons', 'PJ Cummins', 'HM Amla', 'DR Smith', 'SE Marsh',
       'WP Saha', 'MK Tiwary', 'G Gambhir', 'AM Rahane', 'SA Yadav',
       'P Kumar', 'MEK Hussey', 'JDP Oram', 'S Badrinath', 'RA Jadeja',
       'LRPL Taylor', 'MV Boucher', 'JH Kallis', 'AC Gilchrist',
       'AS Yadav', 'SR Watson', 'RG Sharma', 'MS Dhoni', 'DJ Bravo',
       'A Symonds', 'Kamran Akmal', 'M Kaif', 'LR Shukla', 'KD Karthik',
       'V Sehwag', 'SA Asnodkar', 'DJ Hussey', 'S Vidyut',
       'DPMD Jayawardene', 'ST Jayasuriya', 'JA Morkel', 'MS Gony',
       'IK Pathan', 'Y Venugopal Rao', 'Misbah-ul-Haq', 'SR Tendulkar',
       'MF Maharoof', 'HH Gibbs', 'R Dravid', 'AM Nayar', 'SD Chitnis',
       'SP Fleming', 'PP Chawla', 'GC Smith', 'SC Ganguly', 'T Henderson',
       'K Goel', 'A Flintoff', 'RJ Quiney', 'RS Bopara', 'CH Gayle',
       'M Manhas', 'JP Duminy', 'RE van der Merwe', 'SK Warne',
       'ML Hayden', 'TM Dilshan', 'NV Ojha', 'PR Shah', 'S Sohal',
       'BJ Hodge', 'LA Pomersbach', 'AD Mathews', 'SS Tiwary', 'MS Bisla',
       'AC Voges', 'M Vijay', 'MD Mishra', 'PD Collingwood',
       'KC Sangakkara', 'TL Suman', 'AB McDonald', 'MR Marsh',
       'KP Pietersen', 'MA Agarwal', 'PC Valthaty', 'JR Hopes',
       'JD Ryder', 'A Mithun', 'B Chipli', 'OA Shah', 'MN Samuels',
       'DT Christian', 'JEC Franklin', 'DW Steyn', 'AT Rayudu', 'Y Nagar',
       'DJ Harris', 'S Anirudha', 'K Upadhyay', 'UBT Chand', 'AD Russell',
       'JP Faulkner', 'CL White', 'R Rampaul', 'NLTC Perera', 'BJ Rohrer',
       'A Ashish Reddy', 'Azhar Mahmood', 'DB Das', 'DJG Sammy',
       'RN ten Doeschate', 'R Sathish', 'F du Plessis', 'RR Rossouw',
       'MG Johnson', 'CJ Anderson', 'GJ Bailey', 'SS Iyer',
       'Harbhajan Singh', 'SN Khan', 'HV Patel', 'KK Nair', 'KV Sharma',
       'CH Morris', 'MJ McClenaghan', 'TG Southee', 'Q de Kock',
       'R Bhatia', 'CR Brathwaite', 'KL Rahul', 'R Ashwin', 'MP Stoinis',
       'Shakib Al Hasan', 'Gurkeerat Singh', 'ER Dwivedi', 'Bipul Sharma',
       'JC Buttler', 'E Lewis', 'Washington Sundar', 'KS Williamson',
       'R Tewatia', 'P Shaw', 'D Short', 'S Gill', 'BCJ Cutting',
       'JJ Roy', 'M Ali', 'C de Grandhomme', 'V Shankar', 'DL Chahar',
       'S Dube', 'K Gowtham', 'J Bairstow', 'C Munro', 'N Pooran',
       'J Archer', 'R Parag', 'S Rutherford'], dtype=object)

In [33]:
batsman['batsman'].unique()

array(['DJ Hooda', 'HH Pandya', 'CA Lynn', 'M Vohra', 'GJ Maxwell',
       'S Dhawan', 'DA Warner', 'MK Pandey', 'N Rana', 'STR Binny',
       'RR Pant', 'SV Samson', 'DA Miller', 'SP Narine', 'V Kohli',
       'KA Pollard', 'RA Tripathi', 'RV Uthappa', 'YK Pathan',
       'Yuvraj Singh', 'AR Patel', 'EJG Morgan', 'MM Sharma', 'KM Jadhav',
       'BB McCullum', 'PA Patel', 'SK Raina', 'MC Henriques', 'SPD Smith',
       'P Negi', 'Ishan Kishan', 'KH Pandya', 'MJ Guptill',
       'AB de Villiers', 'AJ Finch', 'BA Stokes', 'Mandeep Singh',
       'LMP Simmons', 'PJ Cummins', 'HM Amla', 'DR Smith', 'SE Marsh',
       'WP Saha', 'MK Tiwary', 'G Gambhir', 'AM Rahane', 'SA Yadav',
       'P Kumar', 'MEK Hussey', 'JDP Oram', 'S Badrinath', 'RA Jadeja',
       'LRPL Taylor', 'MV Boucher', 'JH Kallis', 'AC Gilchrist',
       'AS Yadav', 'SR Watson', 'RG Sharma', 'MS Dhoni', 'DJ Bravo',
       'A Symonds', 'Kamran Akmal', 'M Kaif', 'LR Shukla', 'KD Karthik',
       'V Sehwag', 'SA Asnodkar', 'DJ Hussey', 'S Vidyut',
       'DPMD Jayawardene', 'ST Jayasuriya', 'JA Morkel', 'MS Gony',
       'IK Pathan', 'Y Venugopal Rao', 'Misbah-ul-Haq', 'SR Tendulkar',
       'MF Maharoof', 'HH Gibbs', 'R Dravid', 'AM Nayar', 'SD Chitnis',
       'SP Fleming', 'PP Chawla', 'GC Smith', 'SC Ganguly', 'T Henderson',
       'K Goel', 'A Flintoff', 'RJ Quiney', 'RS Bopara', 'CH Gayle',
       'M Manhas', 'JP Duminy', 'RE van der Merwe', 'SK Warne',
       'ML Hayden', 'TM Dilshan', 'NV Ojha', 'PR Shah', 'S Sohal',
       'BJ Hodge', 'LA Pomersbach', 'AD Mathews', 'SS Tiwary', 'MS Bisla',
       'AC Voges', 'M Vijay', 'MD Mishra', 'PD Collingwood',
       'KC Sangakkara', 'TL Suman', 'AB McDonald', 'MR Marsh',
       'KP Pietersen', 'MA Agarwal', 'PC Valthaty', 'JR Hopes',
       'JD Ryder', 'A Mithun', 'B Chipli', 'OA Shah', 'MN Samuels',
       'DT Christian', 'JEC Franklin', 'DW Steyn', 'AT Rayudu', 'Y Nagar',
       'DJ Harris', 'S Anirudha', 'K Upadhyay', 'UBT Chand', 'AD Russell',
       'JP Faulkner', 'CL White', 'R Rampaul', 'NLTC Perera', 'BJ Rohrer',
       'A Ashish Reddy', 'Azhar Mahmood', 'DB Das', 'DJG Sammy',
       'RN ten Doeschate', 'R Sathish', 'F du Plessis', 'RR Rossouw',
       'MG Johnson', 'CJ Anderson', 'GJ Bailey', 'SS Iyer',
       'Harbhajan Singh', 'SN Khan', 'HV Patel', 'KK Nair', 'KV Sharma',
       'CH Morris', 'MJ McClenaghan', 'TG Southee', 'Q de Kock',
       'R Bhatia', 'CR Brathwaite', 'KL Rahul', 'R Ashwin', 'MP Stoinis',
       'Shakib Al Hasan', 'Gurkeerat Singh', 'ER Dwivedi', 'Bipul Sharma',
       'JC Buttler', 'E Lewis', 'Washington Sundar', 'KS Williamson',
       'R Tewatia', 'P Shaw', 'D Short', 'S Gill', 'BCJ Cutting',
       'JJ Roy', 'M Ali', 'C de Grandhomme', 'V Shankar', 'DL Chahar',
       'S Dube', 'K Gowtham', 'J Bairstow', 'C Munro', 'N Pooran',
       'J Archer', 'R Parag', 'S Rutherford'], dtype=object)

#### - How many dot balls were bowled by Ashish Nehra?

In [38]:
delivery[(delivery['bowler']=='A Nehra') & (delivery['total_runs']==0)].shape[0]

798

#### - What are the total runs of every batsman in IPL?